{%if not page_obj.has_previous %}{{page_obj.previous_page_number}}{%  endif  %}
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog - Post</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

     <!-- Navegacao (topo) -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!--Modelo de navegação mobile ou outros displays-->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- / -->

             <!-- Esconde o menu/ habilita botao-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <!-- Menu (topo) -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="../static/contact.html">Sobre</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Layout da parte superior -->
    <header class="intro-header" style="background-image: url('../static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><center>{{ object.titulo }}</center></h1>
                        <span class="meta"><center>Postado em {{ object.categoria.nome }}, criado em {{ object.criado }}</center></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Conteudo -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1>{{ object.titulo }}</h1>
                    <p align="justify">{{ object.texto }}</p>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Rodapé -->
    <footer>
        <div class="container">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://github.com/SRUS-IFBA/Blog">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Developed by SIRUS corporation</p>
                </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/clean-blog.min.js"></script>

</body>

</html>
